/* Фикс для карточек категорий */
.category-square {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.category-square img {
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
}

.category-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.category-content p {
  flex-grow: 1;
}

/* Гарантируем, что все карточки в строке */
.row.mt-5 {
  display: flex;
  flex-wrap: wrap;
}

.col-md-3.col-sm-6 {
  display: flex;
  margin-bottom: 20px;
}
